###> symfony ###
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/config/secrets/prod/prod.decrypt.private.php
/api/public/bundles/
/api/private/
/api/public/uploads/
/api/var/
/api/vendor/
/api/config/jwt/*.pem
###< symfony ###

###> vue ###
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*

/front/node_modules
/front/.DS_Store
/front/dist
/front/dist-ssr
/front/coverage
/front/*.local
/front/src/assets/main-build.css

/front/cypress/videos/
/front/cypress/screenshots/
###< vue ###

###> matomo ###
/matomo/config.ini.php
###< matomo ###

###> docker ###
/compose.override.yaml
/compose.override.prod.yaml
###< docker ###

###> prod-context ###
/.env.local
###< prod-context ###

###> Extra ###
/.DS_Store/
/.vscode/
/.php-cs-fixer.cache
###< Extra ###

