###> symfony ###
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/config/secrets/prod/prod.decrypt.private.php
/api/public/bundles/
/api/private/
/api/public/uploads/
/api/var/
/api/vendor/
/api/config/jwt/*.pem
###< symfony ###

###> vue ###
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*

/front/node_modules
/front/.DS_Store
/front/dist
/front/dist-ssr
/front/coverage
/front/*.local
front/src/assets/main-build.css

/front/cypress/videos/
/front/cypress/screenshots/
###< vue ###

###> docker ###
compose.override.yaml
###< docker ###

###> Extra ###
/.DS_Store/
/.vscode/
###< Extra ###

