<div>
    <p>Bonjour {{ name }},</p>
    <p>Nous vous informons que votre demande d'artiste à retenue notre attention et a été acceptée.</p>
    <p>Félicitations ! Vous pouvez désormais accéder à votre compte artiste et commencer à partager votre musique avec le monde !</p>
    <p>Connectez-vous dès maintenant en cliquant sur le lien suivant :</p>
    <p><a href="{{ loginUrl }}">{{ loginUrl }}</a></p>
    <p>Cordialement,</p>
    <p>L'équipe de Beatly</p>
</div>

