<div>
    <p>Bonjour {{ name }},</p>
    <p>Nous vous informons que votre demande d'artiste a été examinée, mais malheureusement, n'a pas été retenue.</p>
    <p>Nous vous encourageons à continuer à travailler sur votre musique et à postuler à nouveau à l'avenir.</p>
    <p>Merci de votre compréhension.</p>
    <p>Cordialement,</p>
    <p>L'équipe de Beatly</p>
</div>

